body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  margin-left: 20px;
}

button {
  display: flex;
  align-items: center;
  width: 150px;
  padding: 4px 10px;
  margin: 20px 0;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
}

.button-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* カウントバッジ */
.badge {
  background-color: #e74c3c;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  position: absolute;
  top: -12px;
  right: -12px;
  padding: 0px;
}

/* お会計 */
#summary {
  margin-top: 20px;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
}

#summary p {
  margin-bottom: 10px;
}

#summary hr {
  border: 1px solid #ddd;
  margin: 10px 0;
}

#summary span {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}